<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../../public/css/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>


<header>

{{#if loggedIn}}

<button type="button" id="logout">Logout</button>

{{else}}
<a href="/login">Login</a>
{{/if}}

{{!-- These buttons need to take you to login if you are not logged in --}}
<a href="/dashboard">dashboard</a>

<a href="/">home</a>



</header>

<body>

  {{{ body }}}
</body>

{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

</html>