<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../public/css/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
        
        <a href="/">Home</a>
        {{#if loggedIn}}
        <a href="/homepage">go home</a>

        <button type="button" id="logout">Logout</button>
        
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </div>
    </nav>

  </header>

<body>
    {{{ body }}}
</body>

  {{#if loggedIn}}
   <script src="/js/logout.js"></script>
   {{/if}}
</body>

</html>