{{!-- Dashboard
This will contain your posts
You can see the homepage but not the dashboard because it depends on whos logged in --}}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../styles/index.css" />

  </head>
  <body>

    <section id="post-form">
      <form
        class="flex-row justify-center justify-space-between-md align-center"
        id="feedback-form"
      >
        <div class="col-12 col-lg-9">
          <input
            name="titleText"
            id="title"
            placeholder="Enter title here"

          />
        </div>
        <div class="col-12">
          <textarea
            name="feedbackText"
            id="body"
            placeholder="Enter post here"
            value=""
            class="form-input w-100"
          ></textarea>
        </div>

        <div class="col-12 col-lg-3">
          <button class="btn btn-primary btn-block py-3" type="submit">
            Submit quote
          </button>
        </div>
      </form>
    </section>
{{#each posts as |post|}}

  {{post.title}}
  

{{post.post}}  {{/each}}

    <script src="/js/post.js"></script>

  </body>
</html>
  </body>
</html>
